html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 'black'

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #FFE5B4;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: green;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}


.payform {
  width: 30vw;
  align-self: center;
  /* box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07); */
  /* border-radius: 7px; */
  padding: 40px;
}
input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
.result-message {
  line-height: 35px;
  font-size: 16px;
  background: #f6cfb2;
  height: 10vh;
  font-size: 1.1rem;
  justify-content: center
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
#payment-request-button {
  margin-bottom: 32px;
}

.paybutton {
  background: #224229;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  margin-top: '10vh'
}
.paybutton:hover {
  filter: contrast(115%);
}
.paybutton:disabled {
  opacity: 0.5;
  cursor: default;
}



.card{
  width: 320px;
  height: 190px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective:600px;
    
  }
  
  .card__part{
    box-shadow: 1px 1px #aaa3a3;
      top: 0;
    position: absolute;
  z-index: 1000;
    left: 0;
    display: inline-block;
      width: 320px;
      height: 190px;
      background-image: linear-gradient(to right bottom, #f6cfb2, #fcc69e, #fadec8, #ffc498, #f1b485); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 8px;
     
      -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
  }
  
  .card__front{
    padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  }
  
  .card__back {
    width: 25vw;
    padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  }
  
  .card__black-line {
      margin-top: 5px;
      height: 38px;
      background-color: #303030;
  }
  
  .card__logo {
      height: 16px;
  }
  
  .card__front-logo{
        position: absolute;
      top: 18px;
      right: 18px;
  }
  .card__square {
      border-radius: 5px;
      height: 30px;
  }
  
  .card_numer {
      display: block;
      width: 100%;
      word-spacing: 4px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  
  .card__space-75 {
      width: 75%;
      float: left;
  }
  
  .card__space-25 {
      width: 25%;
      float: left;
  }
  
  .card__label {
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.8);
      letter-spacing: 1px;
  }
  
  .card__info {
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .card__back-content {
      padding: 15px 15px 0;
  }
  .card__secret--last {
      color: #303030;
      text-align: right;
      margin: 0;
      font-size: 14px;
  }
  
  .card__secret {
      padding: 5px 12px;
      background-color: #fff;
      position:relative;
  }
  
  .card__secret:before{
    content:'';
    position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
  }
  
  .card__back-logo {
      position: absolute;
      bottom: 15px;
      right: 15px;
  }
  
  .card__back-square {
      position: absolute;
      bottom: 15px;
      left: 15px;
  }
  
  .card:hover .card__front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
  
  }
  
  .card:hover .card__back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
  }